name: Bandit
permissions:
  contents: read
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Chekcout Code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Install Bandit
        run: pip install bandit
      - name: Run Bandit
        run: |
          bandit -r . 2>&1 | tee .bandit.log
          n_sev=$(grep "Severity: High" .bandit.log | wc -l)
          if [ ! "$n_sev" -eq 0 ];then
            exit 1
          fi
